# Contains various secrets, exported as environment variables
# Don't modify this file for local overrides. Instead modify ~/.secrets_local.zsh
# and override the existing keys

export OPENAI_API_KEY="{{ onepasswordRead "op://Private/OpenAI/api key" }}"
export ANTHROPIC_API_KEY="{{ onepasswordRead "op://Private/Anthropic/api key" }}"

# Source local secrets file if it exists (allows overriding above secrets)
if [[ -f "$HOME/.zsh/secrets_local.zsh" ]]; then
    source "$HOME/.zsh/secrets_local.zsh"
fi
