{{- $name := promptStringOnce . "email" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $publicSigningKey := promptStringOnce . "publicSigningKey" "GitHub SSH public key for signing (from 1Password)"}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  publicSigningKey = {{ $publicSigningKey | quote }}

[git]
  autoCommit = true
  autoPush = true
