{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $publicSigningKey := promptStringOnce . "publicSigningKey" "GitHub SSH public key for signing (from 1Password)"}}
{{- $espansoPersonalEmail := promptStringOnce . "espansoPersonalEmail" "Personal email address (for Espanso)"  }}
{{- $espansoWorkEmail := promptStringOnce . "espansoWorkEmail"  "Work email address (for Espanso)" }}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  publicSigningKey = {{ $publicSigningKey | quote }}
  espansoPersonalEmail = {{ $espansoPersonalEmail | quote }}
  espansoWorkEmail = {{ $espansoWorkEmail | quote }}

[git]
  autoCommit = true
  autoPush = true
