[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundles/ctrlp.vim"]
	path = vim/bundles/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundles/ctrlp-py-matcher"]
	path = vim/bundles/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
[submodule "vim/bundles/delimitMate"]
	path = vim/bundles/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundles/neocomplete.vim"]
	path = vim/bundles/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundles/ultisnips"]
	path = vim/bundles/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundles/vim-snippets"]
	path = vim/bundles/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundles/matchit.zip"]
	path = vim/bundles/matchit.zip
	url = https://github.com/benjifisher/matchit.zip.git
[submodule "vim/bundles/vim-bufferline"]
	path = vim/bundles/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim/bundles/cscope_maps"]
	path = vim/bundles/cscope_maps
	url = https://github.com/chazy/cscope_maps.git
[submodule "vim/bundles/nerdtree"]
	path = vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles/syntastic"]
	path = vim/bundles/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundles/vim-nerdtree-tabs"]
	path = vim/bundles/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundles/tagbar"]
	path = vim/bundles/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundles/vim-signify"]
	path = vim/bundles/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/bundles/bufkill.vim"]
	path = vim/bundles/bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "vim/bundles/tabular"]
	path = vim/bundles/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundles/vim-slime"]
	path = vim/bundles/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim/bundles/vim-localrc"]
	path = vim/bundles/vim-localrc
	url = https://github.com/thinca/vim-localrc.git
[submodule "vim/bundles/vim-exchange"]
	path = vim/bundles/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/bundles/vim-eunuch"]
	path = vim/bundles/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/bundles/vim-fugitive"]
	path = vim/bundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundles/vim-togglelist"]
	path = vim/bundles/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "vim/bundles/vim-visual-star-search"]
	path = vim/bundles/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "vim/bundles/ZoomWin"]
	path = vim/bundles/ZoomWin
	url = https://github.com/regedarek/ZoomWin.git
[submodule "vim/bundles/python-mode"]
	path = vim/bundles/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundles/vim-markdown"]
	path = vim/bundles/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundles/vim-ruby"]
	path = vim/bundles/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundles/vim-pants"]
	path = vim/bundles/vim-pants
	url = https://github.com/pantsbuild/vim-pants.git
[submodule "vim/bundles/thrift.vim"]
	path = vim/bundles/thrift.vim
	url = https://github.com/solarnz/thrift.vim.git
[submodule "vim/bundles/vim-scala"]
	path = vim/bundles/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundles/vim-javascript"]
	path = vim/bundles/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundles/vim-rails"]
	path = vim/bundles/vim-rails
	url = https://github.com/tpope/vim-rails.git
