"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "{{ .name }}"
email = "{{ .email }}"

[ui]
conflict-marker-style = "git"

[revset-aliases]
"immutable_heads()" = "builtin_immutable_heads() | (trunk().. & ~mine())"
